<!DOCTYPE HTML lang="es">
<html lang="es">
    {% extends "layout.html" %}
    {% block content %}
        <div class="alert alert-info" role="alert"><h4>Acerca de...</h4></div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo provident iste blanditiis, vel neque quisquam explicabo, pariatur dignissimos possimus corporis ducimus? Dolorem nulla obcaecati praesentium beatae debitis aliquid, omnis totam.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo provident iste blanditiis, vel neque quisquam explicabo, pariatur dignissimos possimus corporis ducimus? Dolorem nulla obcaecati praesentium beatae debitis aliquid, omnis totam.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo provident iste blanditiis, vel neque quisquam explicabo, pariatur dignissimos possimus corporis ducimus? Dolorem nulla obcaecati praesentium beatae debitis aliquid, omnis totam.</p>
    {% endblock %}
</html>