<!DOCTYPE HTML lang="es">
<html lang="es">
    {% extends "layout.html" %}
    {% block content %}
        <div class="alert alert-info" role="alert"><h4 style="text-align: center;">Acerca de...</h4></div>
        <p><h5>Jaguarete Kaa, una historia de amor con el color</h5></p>
        <p>Una casa con gran reputación en todo el mundo por la calidad y la belleza de sus creaciones, Jaguarete aporta su experiencia al desarrollo de herramientas de escritura y de productos para las bellas artes.</p>
        <p>Nacida a raíz de la pasión que profesaba su fundador por el color, la empresa se mantiene fiel a sus orígenes. Sus lápices, pasteles y pinturas, completamente diseñados, desarrollados y elaborados en los talleres ginebrinos lápices, pasteles y pinturas perpetúan la tradición de exigencia que la caracteriza.</p>
        <p>Desde el primer lápiz hasta las últimas creaciones, Jaguarete ilustra la historia de una empresa familiar suiza. Heredera de un valioso conocimiento, ha trabajado en la creación de productos excepcionales como el Prismalo, primer lápiz acuarelable del mundo, lanzado en 1931 y que revolucionó el mundo del diseño y del color.</p>
        <p>Desde sus primeros pasos en 1915 y la fundación oficial de la empresa en 1924, Jaguarete escribe su historia cultivando un compromiso con los mejores materiales.</p>
        <p>La salud y la seguridad de colaboradores y consumidores constituyen nuestra máxima prioridad, lográndose ecología y seguridad de los productos gracias a los controles de calidad.</p>
    {% endblock %}
</html>