<!DOCTYPE HTML lang="es">
<html lang="es">
{% extends "layout.html" %}
{% block content %}
    <div class="alert alert-info" role="alert"><h4 style="text-align: center;">Carrito</h4></div>
    <div class="row">
        {% for producto in productos.all %}
        <div class="row justify-content-md-center">
            <div class="col-sm-2">
                <div class="card" style="width: 5rem;">
                    <img class="card-img-top" src="{{ media_url  }}{{ producto.imagen.url }}" alt="My image">
                </div>
            </div>
            <div class="col-sm-6 justify-content-end">
                <h6 class="card-title">Título: {{ producto.titulo }}</h6>
                <p class="card-text">Precio: {{ producto.precio }} - <a href="{% url 'borrar_item_carrito' producto.id %}" class="btn btn-danger">X</a></p>
                <br><br>
            </div>
        </div>
        {% empty %}
            <li>No hay productos en el Carrito.</li>
        {% endfor %}
        <div class="row justify-content-md-end">
            <div class="col-sm-4">
                <h4>Total del Carrito: {{ precio_total }}</h4>
                <a href="{% url 'borrar_carrito' %}" class="btn btn-danger">VACIAR CARRITO</a>
                <a href="" class="btn btn-primary">FINALIZAR COMPRA</a>
            </div>
        </div>
    </div>
{% endblock %}
</html>