{% extends "layout.html" %}
{% block content %}
<div class="alert alert-info" role="alert"><h4 style="text-align: center;">Formulario de Registro</h4></div>
<div class="row justify-content-md-center">
    <div class="card" style="width: 60rem;">
        <div class="card-body">
            <form method="post">
            {% csrf_token %}
            <div class="mb-4"></div>
            {% for campo in form %}
                <p class="col-sm-8 col-form-label">
                {{ campo.label_tag }}<br>
                {{ campo }}
                {% if campo.help_text %}
                    <small style="color: grey">{{ campo.help_text }}</small>
                {% endif %}
                {% for error in campo.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
                </p>
            {% endfor %}
            <button type="submit">Registrarse</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
